.searchbox{
    border: none;
    outline: none;
    padding: 10px;
    width: 2000;
    line-height: 30px;
    margin-bottom: 30px;
 
}

.homenav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}
.homebtn {
    background-color: #033159;
    color: #F0F1F2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    margin: 0 55px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.homebtn:hover {
    background-color: #02508b; /* Color más claro para el hover */
    transform: translateY(-2px); /* Efecto de elevación al pasar el ratón */
}

.homebtn:active {
    background-color: #023a6d; /* Color más oscuro para el clic */
    transform: translateY(0); /* Restablece la elevación al hacer clic */
}